/* CSS file */

Application{
	backgroundGradientAlphas: 0, 0;
}

.popup{
	borderColor: #00ff00;
	borderThicknessLeft: 0;
	borderThicknessTop: 0;
	borderThicknessBottom: 2;
	borderThicknessRight: 0;
}

.titleOne{
	fontFamily: Arial;
	fontSize: 16;
	fontWeight: bold;
}

.figureTitle{
	fontFamily: Arial;
	fontSize: 10;
	textDecoration: underline;
}

.formLabel{
	fontWeight: bold;
}